.welcome {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  flex-direction: column;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.nameLable {
  font-size: 14px;
  margin-top: 10px;
  text-align: start;
}

.welcome input,
.chatContainer input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.Button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chatContainer {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}
.chatBox{
  margin-bottom: 50px;
  width: 100%;
}
.sender{
  text-align: right;
  margin: 10px;
  width: 100%;
}
.senderName{
  font-size: 12px;
  color: gray;
}
.message{
  display: inline-block;
  background-color: #f1f0f0;
  padding: 10px;
  border-radius: 10px;
  /* max-width: 70% */
  max-width: 20%;
  word-wrap: break-word;
}
.reciever{
  text-align: left;
  margin: 10px;
}

.inputContainer {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
  
}