.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}


.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}


.login-container form {
  display: flex;
  flex-direction: column;
}


.login-container input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-container button {
  padding: 10px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #d29417;
}
.login-container .message {
  margin-top: 15px;
  text-align: center;
  color: red;
}

.login-container a:hover {
  text-decoration: underline;
  cursor: pointer;
}