.TaskManagerWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.heading {
    font-size: 25px;
    text-align: center;

}

.TaskManagerWrapper input,
textarea {
    border-radius: 5px;
    padding: 8px;
    margin: 5px 0px;
}

.TaskManagerWrapper button {
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    font-size: 15px;
    color: white;
    background-color: green;
    transition: all 0.2s;
}

.TaskManagerWrapper button:hover {
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    font-size: 15px;
    color: white;
    background-color: rgb(12, 114, 12);

}

.TaskManagerWrapper label {
    display: flex;
    flex-direction: column;
 
}

.NoTaskHeading {
    text-align: center;
}

.LogoutButton {
  background-color: #f44336 !important;
  color: white;
  padding: 10px 20px;  
  font-size: 16px;  
  border: none;  
  border-radius: 5px;  
  cursor: pointer;  
  width: 100px;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: background-color 0.3s ease;  
}

.LogoutButton:hover {
  background-color: #d32f2f !important; 
}
